<% content_for :content1 do %>
  <p>It's big, it's blue, it's...</p>
  <br/>
  <p><strong>BlewJeens</strong></p>
<% end %>

<% content_for :content2 do %>
  <img src="img/jean.png" height="400px" width="200px"></img>
<% end %>
